---
import EditablePageIntro from "../../components/EditablePageIntro.astro";
import SiteLayout from "../../layouts/SiteLayout.astro";
import { categories, getCategoryPath } from "../../lib/poems";
import { getPageSettings } from "../../lib/settings";

const poetrySettings = await getPageSettings("poetry");
const poetryCollections = categories.filter((category) => category.poems.length > 0);
---

<SiteLayout title="Poetry | Gwen" description="Read Gwen's poems in place.">
  <EditablePageIntro settings={poetrySettings} titleId="poetry-title" className="poetry-page">
    <ul slot="copy-extra" class="category-link-list" aria-label="Poetry categories">
      {
        poetryCollections.map((category) => (
          <li>
            <a href={getCategoryPath(category)}>{category.title}</a>
          </li>
        ))
      }
    </ul>
  </EditablePageIntro>
</SiteLayout>
